.git
.gitignore
.venv
.vscode
.pytest_cache
.mypy_cache
.ruff_cache
__pycache__
*.pyc
*.pyo
*.pyd
.coverage
coverage.xml
htmlcov
build
dist
*.egg-info

.env
.env.*

data
models
typings

src/infrastructure
