# for local testing add .env file with the following content (replace values with your own):

GEMINI_API_KEY=
LANGFUSE_SECRET_KEY=
LANGFUSE_PUBLIC_KEY=
LANGFUSE_BASE_URL="https://cloud.langfuse.com"
LANGFUSE_DEBUG="True"
FIREBASE_DATABASE_URL=
GOOGLE_CLOUD_PROJECT=aitia-med-dev # for dev environment, replace with your own project if needed