SERVICE_NAME=some-service
REGISTRY_HOST=europe-west3-docker.pkg.dev
REGISTRY_REPOSITORY=causal-dev-images

# Default projects by deployment environment.
REGISTRY_PROJECT_DEV=your-gcp-project-dev
REGISTRY_PROJECT_PROD=your-gcp-project-prod
REGISTRY_PROJECT_FEATURE=your-gcp-project-dev
