pandas
pytest
pandas-stubs
fastmcp
langgraph
python-dotenv
fastapi>=0.110
uvicorn[standard]>=0.27
pydantic
firebase-admin
structlog>=24.1
joblib
scikit-learn
econml
langchain-core 
langchain-google-genai
langchain-openai
matplotlib
langfuse
duckdb
firebase-admin
google-cloud-storage