project_id = "your-gcp-project-dev"
region     = "europe-west3"

environment  = "feature"
name_prefix  = "causal"
feature_slug = "my-branch"

container_image = "europe-west3-docker.pkg.dev/your-gcp-project-dev/causal-feat-my-branch-images/backend:feat-my-branch"

firebase_database_region = "europe-west1"
firebase_database_type   = "USER_DATABASE"

cloud_run_allow_unauthenticated = false
cloud_run_deletion_protection   = false

extra_plain_env_vars = {
  APP_ENV = "feature"
}

labels = {
  app = "causal-backend"
}
